@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="/Content/angular-material.min.css">
<link rel="stylesheet" href="/Content/Site.css">
<link rel="stylesheet" href="/Content/bootstrap.css">
<link rel="stylesheet" href="/Content/ui-grid.css">
<link rel="stylesheet" href="/Content/sweetalert.css">
<script src="/Scripts/angular/angular.min.js"></script>
<script src="/Scripts/angular-animate/angular-animate.min.js"></script>
<script src="/Scripts/angular-aria/angular-aria.min.js"></script>
<script src="/Scripts/angular-material/angular-material.min.js"></script>
<script src="/Scripts/ui-grid.js"></script>
<script src="/Scripts/i18n/angular-locale_ru-ru.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/AngularScripts/Modules/HomeModule.js"></script>
<script src="~/AngularScripts/Controllers/CompanyController.js"></script>
<script src="~/AngularScripts/Controllers/EmployeeController.js"></script>
<script src="~/AngularScripts/Controllers/EmployeeDialogController.js"></script>
<script src="~/AngularScripts/Controllers/ProjectController.js"></script>
<script src="~/AngularScripts/Controllers/ProjectDialogController.js"></script>
<script src="~/AngularScripts/Controllers/ManageProjectEmployees.js"></script>
<script src="~/Scripts/angular-messages.min.js"></script>
<div ng-cloak ng-app="app">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <div ng-controller="CompanyController">
                <md-tab label="Компании" md-on-select="getCompanies()">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Компании</h1>
                        <div layout="column" ng-cloak class="md-inline-form" align="center">
                            <md-content layout-gt-sm="row" style="align-self: center;">

                                <md-input-container>
                                    <label>Наименование</label>
                                    <input ng-model="Name">
                                </md-input-container>

                                @*<md-input-container style="width: 150px;">
                                        <label>Сотрудники</label>
                                        <md-select multiple="true" ng-model="selectedEmployees">
                                            <md-option ng-repeat="employee in employees" ng-value="employee.Id">
                                                {{employee.Name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>*@
                                <md-input-container style="width: 179px;">
                                    <md-button class="btn-primary" ng-click="addCompany()">Добавить</md-button>
                                </md-input-container>
                            </md-content>
                        </div>
                        <div ui-i18n="ru">
                            <div id="grid1" ui-grid="gridOptionsCompanies" ui-grid-pagination class="grid" style="height: 400px;"></div>
                        </div>
                    </md-content>
                </md-tab>
            </div>
            <div ng-controller="EmployeeController">
                <md-tab label="Сотрудники" md-on-select="getEmployees()">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Сотрудники</h1>
                        <div layout="column" ng-cloak class="md-inline-form" align="center">
                            <md-content layout-gt-sm="row" style="align-self: center;">

                                <md-input-container>
                                    <label>Имя</label>
                                    <input ng-model="Name">
                                </md-input-container>
                                <md-input-container>
                                    <label>Фамилия</label>
                                    <input ng-model="Surname">
                                </md-input-container>
                                <md-input-container>
                                    <label>Отчество</label>
                                    <input ng-model="Patronymic">
                                </md-input-container>
                                <md-input-container>
                                    <label>Почта</label>
                                    <input ng-model="Email">
                                </md-input-container>
                                <md-input-container style="width: 150px;">
                                    <label>Компания</label>
                                    <md-select ng-model="selectedCompany">
                                        <md-option ng-repeat="company in companies" ng-value="company.ID">
                                            {{company.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container style="width: 179px;">
                                    <md-button class="btn-primary" ng-click="addEmployee()">Добавить</md-button>
                                </md-input-container>
                            </md-content>
                        </div>
                        <div ui-i18n="ru">
                            <div id="grid2" ui-grid="gridOptionsEmployees" ui-grid-pagination class="grid"></div>
                        </div>
                    </md-content>
                </md-tab>
            </div>
            <div ng-controller="ProjectController">
                <md-tab label="Проекты" md-on-select="getProjects()">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Проекты</h1>
                        <div layout="column" ng-cloak class="md-inline-form" align="center">
                            <md-content layout-gt-sm="row" style="align-self: center;">

                                <md-input-container>
                                    <label>Имя</label>
                                    <input ng-model="Name">
                                </md-input-container>
                                <md-input-container>
                                    <md-datepicker ng-model="StartDate" md-max-date="EndDate" md-placeholder="Дата начала"></md-datepicker>
                                </md-input-container>
                                <md-input-container>
                                    <md-datepicker ng-model="EndDate" md-min-date="StartDate" md-placeholder="Дата конца"></md-datepicker>
                                </md-input-container>
                                <md-input-container>
                                    <label>Приоритет</label>
                                    <input name="Приоритет" ng-model="Priority" placeholder="0-1"
                                           required ng-pattern="/^[0]+\.?[0-9]*$/" md-maxlength="4">

                                    <div ng-messages="Priority.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">Вы должны ввести приоритет</div>
                                        <div ng-message="pattern" class="my-message">
                                            Приоритет должен быть от 0 до 1.
                                        </div>
                                        <div ng-message="md-maxlength" class="my-message">
                                            Приоритет не должен быть длинным.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Комментарии</label>
                                    <input ng-model="Comment">
                                </md-input-container>
                            </md-content>
                            <md-content layout-gt-sm="row" style="align-self: center;">
                                <md-input-container style="width: 150px;">
                                    <label>Компания заказчик</label>
                                    <md-select ng-model="ClientCompanyId">
                                        <md-option ng-repeat="company in companies" ng-value="company.ID">
                                            {{company.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container style="width: 150px;">
                                    <label>Компания исполнитель</label>
                                    <md-select ng-model="ExecutorCompanyId">
                                        <md-option ng-repeat="company in companies" ng-value="company.ID">
                                            {{company.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container style="width: 179px;">
                                    <md-button class="btn-primary" ng-click="addProject()">Добавить</md-button>
                                </md-input-container>
                            </md-content>
                        </div>
                        <div ui-i18n="ru">
                            <div id="grid3" ui-grid="gridOptionsProjects" ui-grid-pagination class="grid"></div>
                        </div>
                    </md-content>
                </md-tab>
            </div>
        </md-tabs>
    </md-content>
</div>